<ion-header>
  <ion-navbar>
    <ion-title>
      Inserimento oggetto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Inserire oggetto</h1>
    <ion-list>
        <ion-item>
          <ion-label floating>Nome Oggetto</ion-label>
          <ion-input type="text" [(ngModel)]="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Prestatario</ion-label>
          <ion-input type="text" [(ngModel)]="prestatario"></ion-input>
        </ion-item>
          <ion-item>
              <ion-label floating>Data prestito oggetto</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
          </ion-item>
       <ion-item>
          <ion-label floating>Descrizione</ion-label>
          <ion-input type="text" [(ngModel)]="descrizione"></ion-input>
      </ion-item>
      </ion-list>
      <ion-label>Foto</ion-label>
      <!--<button ion-button full (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>Photo
      </button>
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let photo of photos; let id = index">
            <ion-card class="block">
              <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
              <img [src]="photo" *ngIf="photo" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>-->
      <div class="sposta">
      <button ion-button round outline color="secondary" (click)="salva(nome,prestatario,data,descrizione)">Salva</button>
    </div>
</ion-content>
